<!--ABOUT PAGE-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>About Me</h1>
    <img src="/img/headshot.png" alt="Photo of me" style: width="150px"; height="150px">
    <h3>Rashid Leroy Ang</h3>
    <p>Software engineering student currently studying under a 3-year program in Centennial college.</p>
    <a href="/Content/Resume.pdf" target="_blank">My Resume</a>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   