<!--INDEX PAGE-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Mission statement</h1>
    <p>It is my mission to leverage my ever-growing foundational knowledge in programming languages and software systems to deliver high-quality, robust and modular code as per my requirements, either individually or with fellow team members.</p>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   