<!--SERVICES PAGE-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Services</h1>
    <h3>Languages that I know</h3>
    <ul>
        <li>Javascript</li>
        <li>Lua</li>
        <li>C#</li>
        <li>Java</li>
        <li>SQL</li>
    </ul>
    <h3>Positions I prefer/can fill</h3>
    <ul>
        <li>General engineer</li>
        <li>Game development/programming</li>
        <li>Web development</li>
        <li>Database management</li>
    </ul>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   